.nav_row1{
    display: flex;
    flex-direction: row;
    background-color: #ddeeff;     /* e8f1fc */
    margin-top: -10px !important;
    padding-top: 10px;
    padding-bottom: 3px;
    width: 100%;
    position:fixed;
    opacity: 1;
}
.nav_row2{
    position:fixed;
    opacity: 0;
    transform: translateY(-67px);
}
.Search_bar{
    display: flex;
    flex-direction: row-reverse;
    background-color: #0B0D17;
    height: 60px;
    position: sticky;
    margin-left: -10px;
    top: 56.9px;
}
.blog_sidebar1{
    background-color: #0B0D17;
    width:422px;
    height:100%;
    padding-top: 10px;
    padding-bottom: 5px;
    position: fixed;
    top:0px;
    transform: translateY(57px);
}
.blog_sidebar{
    background-color: #0B0D17;
    width:422px;
    height:100%;
    padding-top: 10px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column-reverse;
}
.blog_sidebar2{
    top:0px;
    transform: translateY(57px);
    opacity: 1;
    transition: all 0.3s;
}
.blog_sidebar3{
    top:157px;
}
.blog_sidebar4{
    transform: translateY(0px);
}
.nonblog_sidebar{
    background-color: #0B0D17;
    padding-top: 10px;
    padding-bottom: 5px;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
}
.sidebar_title{
    font-family: 'Roboto Slab', serif;
    font-size: 50px; 
    font-weight: 600;    
    color: #fff;
    margin-left: 145px;
}
.blogimg_style{
  border-radius: 10px;
  width: 100%;   
  height:480px;
}
.sidebar_img{
    height: 300px;
    width: 330px;
    margin-left: 25px;
}
.Blog_title{
    font-family: 'Roboto Slab', serif;
    font-size: 30px; 
    font-weight: 600;    
    background-color: #fff;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 5px;
}
.sidebar_content{
    font-family: 'Roboto Slab', serif;
    font-size: 20px; 
    font-weight: 500;
    color: #fff;
    padding-left: 30px;
    padding-right: 20px;
    margin-top: 10px;
}
.uparrow{
    display: flex;
    justify-content: center;
}
.uparrowIcon{
    margin-top: 380px !important;
    position: sticky;
    top: 500px;
    border-radius: 50px;
    margin-bottom: 15px;
}
.uparrowIcon:hover{
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition-delay: 0.2s;
    transition-duration: 0.1s;
}
.searchInput{
    height: 40px;
    width: 300px;
    margin-right: -30px;
    border-radius: 5px;
    border-color: #0B0D17;    
    background-color: #fff;
    padding-left: 15px;
    padding-right: 35px;
    align-self: center;
}
.searchIcon{
    margin-right: 65px;
    margin-top: 21px;
    z-index: 1;
    color: grey;
}
.blog_outerArea{
    margin-left: 80px;   
    padding-bottom: 15px;
    padding-top: 60px;
}
.blog_box{
    height: fit-content;
    width: 580px;
    border-radius: 10px;
    margin-top: 10px;
}
.Blog_content{
    margin-top: 15px;
    margin-right: 5px;
    font-family: 'Roboto Slab', serif;
    font-size: 16px; 
    font-weight: 400;
    white-space: pre-line;
}
.readMore{
    display: inline;
    color: blue;
    text-decoration: underline;
}
.readMore:hover{
    cursor: pointer;
}
.searchIcon:hover{
    color: #0B0D17;
    cursor: pointer;
    transition-duration: 0.5s;
    transition-property: inherit;
    transition-delay: 0.1s;
}
.load{
    margin-top: 300px;
    text-align: center;
}
.NoFound{
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 30px; 
    font-weight: 500;
    margin-top: 170px;
}