.user_sidebar{
    position:sticky;
    top: 60px;
    background-color: #0B0D17;
    padding-top: 25px;
    text-align: center;
}
.usersidebar_opt{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;  
}
.profileUpdated{
    font-family: 'Roboto Slab', serif;
    font-size: 17px; 
    font-weight: 400;    
    color: greenyellow;
    text-align: center;
    margin-top: 0px;
    margin-bottom: -26px;
    text-align: center;
    margin-left: 15px !important;
}
.user_options{
    font-family: 'Roboto Slab', serif;
    font-size: 20px; 
    font-weight: 400;    
    color: #fff;
    height: 40px;
    align-items: center;
    padding-top: 4px;
}
.user_options:hover{
    color: #ddeeff;
    animation-delay: 1s;
    animation-duration: 1s;  
}
.usersidebar_title{
    font-family: 'Roboto Slab', serif;
    font-size: 40px; 
    font-weight: 600;    
    margin-top: 30px;
    margin-bottom: 15px;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
}
.usersidebar_img{
    height: 200px;
    width: 200px;
    border-radius: 20px;
    text-align: center;
}
.usersidebar_content{
    font-family: 'Roboto Slab', serif;
    font-size: 20px; 
    font-weight: 500;
    color: #fff;
    padding-left: 30px;
    padding-right: 20px;
    margin-top: 10px;
    }
.uparrow{
    display: flex;
    justify-content: center;
}
.uparrowIcon{
    margin-top: 380px !important;
    position: sticky;
    top: 500px;
    border-radius: 50px;
    margin-bottom: 15px;
}
.uparrowIcon:hover{
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition-delay: 0.2s;
    transition-duration: 0.1s;
}
.user_outerArea{
    margin-left: 80px;   
    padding-bottom: 15px;
    padding-top: 60px;
}
.edit_button
{
    width:60px;
    height:38px;
    border-radius: 4px;
    border: #0B0D17;
    font-family: 'Roboto Slab', serif;
    font-size: 17px;
    font-weight: 550;
    background-color: #fff;
    color: #0B0D17;
    margin-top: 40px;
    margin-left: 300px;
}
.edit_button:hover{
    background-color: #ddeeff;
    transition-duration: 0.5s;
    transition-property: inherit;
    transition-delay: 0.1s;
    cursor: pointer;
}
.detail_button{
    padding-left: 10px;
    padding-right: 10px;
    height:38px;
    border-radius: 4px;
    margin-left: 15px;
    margin-top: -10px;
    border: #0B0D17;
    font-family: 'Roboto Slab', serif;
    font-size: 17px;
    font-weight: 550;
    background-color: #fff;
    color: #0B0D17;
}
.detail_button:hover{
    background-color: #ddeeff;
    transition-duration: 0.5s;
    transition-property: inherit;
    transition-delay: 0.1s;
    cursor: pointer;
}
.detail{
    margin-left: 200px;
}
.option1{
    display: flex;
    margin-left: 120px;
    width: max-content;
}
.option2{
    display: flex;
    margin-left: 120px;
    width: max-content;
}
.option1:hover{
    cursor: pointer;
}
.option2:hover{
    cursor: pointer;
}
.writeHead{
    font-family: 'Roboto Slab', serif;
    font-size: 40px; 
    font-weight: 500;
    color: #0B0D17;
    padding-left: 125px;
    padding-top: 15px;   
}
.writeTitle{
    margin-left: 120px;
    width:600px;
    height: 45px;
    margin-top: 10px;
    border-radius: 3px;
    border: #0B0D17 solid 0.5px;
    padding-left: 10px;
}
.writeDetails{
    margin-left: 10px;
    margin-right: 10px;
    width:72%;
    height: 45px;
    margin-top: 20px;
    border-radius: 3px;
    border: #0B0D17 solid 0.5px;
    padding-left: 10px;
   }
.writeContent{
    margin-left: 120px;
    width:600px;
    height: 288px;
    margin-top: 10px;
    border-radius: 3px;
    border: #0B0D17 solid 0.5px;
    padding-left: 10px;   
    padding-top: 10px;
}
.writeExperience{
    margin-left: 10px;
    margin-right: 10px;
    width:72%;
    height: 45px;
    margin-top: 10px;
    border-radius: 3px;
    border: #0B0D17 solid 0.5px;
    padding-left: 10px;   
    padding-top: 10px;
}
.button_cancel{
    margin-top: 5px;
    margin-bottom: 8px;
    margin-left: 545px;
    margin-right: 15px;
    height: 43px;
    width: 85px;
    border: #0B0D17;
    border-radius: 4px;
    font-family: 'Roboto Slab', serif;
    font-size: 17px;  
    color: #fff;
    background-color: #0B0D17;
}
.button_cancel:hover{
    background-color: #142F43;
    transition-duration: 0.5s;
    transition-property: inherit;
    transition-delay: 0.1s;
    cursor: pointer;
}
.button_post{
    margin-top: 5px;
    margin-bottom: 8px;
    height: 43px;
    width: 65px;
    border: #0B0D17;
    border-radius: 4px;
    font-family: 'Roboto Slab', serif;
    font-size: 17px;  
    color: #fff;
    background-color: #0B0D17;
}
.button_post:hover{
    background-color: #142F43;
    transition-duration: 0.5s;
    transition-property: inherit;
    transition-delay: 0.1s;
    cursor: pointer;
}
.myBlog_icon{
    color:white;
    margin-top:8px;
}
.fileinput{
    width: 97%;
    margin-top: 20px;
    color: #fff;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;  
    margin-left: 150px;
    cursor: pointer;
    border-radius: 10px;
}
.fileinput1{
    margin-top: 10px;
    color: #0B0D17;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;  
    margin-left: 130px;
    cursor: pointer;
    border-radius: 10px;
}
.blogbuttonGroup{
    margin-top: -10px;
}
.loadProfile{
    margin-top: 230px;
    text-align: center;
}
.NoFound1{
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 30px; 
    font-weight: 500;
    margin-top: 190px;
}