.singleBlog_title{
    font-family: 'Roboto Slab', serif;
    font-size: 45px; 
    font-weight: 600;
    margin-left: 100px;
    padding-top: 50px;
    color: #181D31;    
    text-transform: capitalize;
}
.singleblog_date{
    font-family: 'Roboto Slab', serif;
    font-size: 15px; 
    font-weight: 500;
    margin-left: 90px;
    padding-top: 10px;
    color: #181D31;    
}
.singleblog_img{
    height:650px;
    width: 560px;
    margin-left: 180px;
    margin-top: 60px;
    border-radius: 8px;
    margin-bottom: 20px;
}
.button_grp{
    margin-left: 30px;
    margin-top: 240px;
}
.like_but{
    margin-bottom: 80px;
    align-items: center;
}
.like_icon:hover{
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.25));
    cursor: pointer;
    animation-duration: 1s;
    animation-delay: 0.5s;
}
.cmnt_but{
    margin-bottom: 80px;
    align-items: center;
}
.cmnt_icon:hover{
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.25));
    cursor: pointer;
    animation-duration: 1s;
    animation-delay: 0.5s;
}
.delete_icon:hover{
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.25));
    cursor: pointer;
    animation-duration: 1s;
    animation-delay: 0.5s;    
}
.userbutton{
    display: inline;
    margin-left: 40px;
    margin-top: -200px;
}
.like_icon{
    margin-bottom: 10px;
}
.like_cnt{
    font-family: 'Roboto Slab', serif;
    font-size: 15px; 
    font-weight: 600;
    color: #181D31;   
    margin-top: -10px;
    margin-bottom: -5px;
}
.cmnt_cnt{
    font-family: 'Roboto Slab', serif;
    font-size: 15px; 
    font-weight: 600;
    color: #181D31;   
    margin-left: -20px;
    margin-top: -3px;
    margin-bottom: -5px;
}
.but_delete{
    font-family: 'Roboto Slab', serif;
    font-size: 15px; 
    font-weight: 600;
    color: #181D31;   
    margin-left: -5px;
    margin-bottom: -5px;
}
.singleblog_content{
    font-family: 'Roboto Slab', serif;
    font-size: 17px; 
    font-weight: 500;
    margin-left: 160px;
    margin-right: 100px;
    color: #0B0D17;
    padding-bottom: 20px;
    white-space: pre-line;
}
.writerName{
    font-family: 'Roboto Slab', serif;
    font-size: 27px; 
    font-weight: 600;
    margin-left: 50px;
    margin-right: 100px;
    color: #0B0D17;
    padding-top: 10px;
    padding-bottom: 5px;
    text-transform: capitalize;
}
.writerPos{
    font-family: 'Roboto Slab', serif;
    font-size: 17px; 
    font-weight: 500;
    margin-left: 50px;
    margin-right: 100px;
    color: #0B0D17;
    padding-bottom: 20px;
}
.end_line1{
  height:0px;
  width:1050px;
  background-color: grey;
  margin-top: -5px;
  margin-left: 140px;
  border:1px solid gray;
}
.end_line2{
  height:0px;
  width:380px;
  background-color: grey;
  margin-top: -5px;
  margin-left: 140px;
  border:1px solid gray;
}
.end_line3{
    height:0px;
    width:1050px;
    background-color: grey;
    margin-top: 5px;
    margin-left: 140px;
    border:1px solid gray;
  }
.userPhoto{
    height:70px;
    width: 70px;
    border-radius: 100px;
    margin-top: 13px;
    margin-left: 160px;
}
.cmnt_title{
    font-family: 'Roboto Slab', serif;
    font-size: 35px; 
    font-weight: 600;
    margin-left: 140px;
    padding-top: 5px;
    color: #181D31;       
}
.commentInput{
    margin-left: 150px;
    width: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    height: 40px;
    padding-left: 15px;
    border: #0B0D17 solid 0.5px;
}
.send_button{
    margin-left: -40px;
}
.send_button:hover{
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.25));
    cursor: pointer;
    animation-duration: 1s;
    animation-delay: 0.5s;    
}
.cmntdata{
    margin-left: 160px;
}
.usercomment{
    text-transform: capitalize;
}