.nav_row{
    display: flex;
    flex-direction: row;
    background-color: #ddeeff;     /* e8f1fc */
    margin-top: -10px !important;
    padding-top: 10px;
    padding-bottom: 3px;
    width: 100%;
}
.logo_img{
    margin-top: 4px;
    margin-left: 30px;   
    height:50px;
    width: 55px;
}
.pages_option{
    display: flex;
    flex-direction: row;
    margin-left: 430px;
}
.nav_options{
    margin-top: 13px;
    font-family: 'Roboto Slab', serif;
    font-size: 20px; 
    font-weight: 300;
    margin-left: 20px; 
    color: #0B0D17;
}
.nav_options:hover{
    color:dimgray;
    transition-duration: 0.3s;
    cursor: pointer;
}
.Logo_title{
    margin-top: 7px;
    font-family: 'Roboto Slab', serif;
    font-size: 28px; 
    font-weight: 600;
    margin-left: 15px;
    color: #142F43;
}
.button_class{
    margin-top: 7px;
    margin-left: 120px;
}
.button_login{
    height: 43px;
    width: 70px;
    border-radius: 4px;
    border: #0B0D17;
    font-family: 'Roboto Slab', serif;
    font-size: 17px;
    color: #fff;
    background-color: #0B0D17;
}
.button_login:hover{
    background-color: #142F43;
    transition-duration: 0.5s;
    transition-property: inherit;
    transition-delay: 0.1s;
    cursor: pointer;
}
.button_logout{
  height: 43px;
  width: 90px;
  border-radius: 4px;
  border: #0B0D17;
  font-family: 'Roboto Slab', serif;
  font-size: 17px;
  color: #fff;
  background-color: #0B0D17;
  margin-left: -40px;
}
.button_logout:hover{
    background-color: #142F43;
    transition-duration: 0.5s;
    transition-property: inherit;
    transition-delay: 0.1s;
    cursor: pointer;
}
.button_signup{
    height: 43px;
    width: 85px;
    border: #0B0D17;
    border-radius: 4px;
    margin-left: 10px;
    font-family: 'Roboto Slab', serif;
    font-size: 17px;  
    color: #fff;
    background-color: #0B0D17;
}
.button_signup:hover{
    background-color: #142F43;
    transition-duration: 0.5s;
    transition-property: inherit;
    transition-delay: 0.1s;
    cursor: pointer;
}
.footer-1{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 15px;
}
.footer-2{
  text-align: center;
  padding-top: 40px;
  padding-bottom: 15px;
}
.footer-3{
  text-align: center;
  padding-top: 40px;
  padding-bottom: 15px;
}  